In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
##https://www.siksinhot.com/search?keywords=%EC%84%B1%EC%88%98

In [ ]:
data = {
    '이름' : [],
    '평점' : [],
    '주소' : [],
    '카테고리' : [],
    '조회수' : [],
    # '대표메뉴' : []
}

In [ ]:
for i in range(1,33):
  url = f'https://api.siksinhot.com/v1/hp/search/place?keywords=%EC%84%B1%EC%88%98&idx={12*i}&limit=12&order=interest'
  headers={
    'referer': 'https://www.siksinhot.com/',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.60 Safari/537.36 Edg/100.0.1185.29',
    'siksinoauth': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOjAsImlhdCI6MTY0OTUwOTMyMiwiZXhwIjoxNjQ5NTk1NzIyLCJpc3MiOiJzaWtzaW4ifQ.rxVffd5Bd3T13TyfUJdRtMLR1lLCGety96Xb-urAfhc'
  }
  resp = requests.get(url, headers=headers)
  temp = json.loads(resp.text)
  restaurants = temp['data']['list']
  
  for res in restaurants:
    data['이름'].append(res['pname'])
    data['평점'].append(res['score'])
    data['주소'].append(res['addr2'])
    data['카테고리'].append(res['hpSchCateNm'])
    data['조회수'].append(res['viewCnt'])
test = pd.DataFrame(data)
test

            이름   평점                      주소     카테고리   조회수
0      성수 도치피자  3.9        서울특별시 성동구 연무장길 7       양식  4044
1       꿉당 성수점  0.0  서울특별시 성동구 성수이로20길 10         고기   565
2     하프커피 성수점  0.0     서울특별시 성동구 서울숲4길 12    카페/디저트   904
3      산동성수타짜장  3.6       서울 은평구 응암로 331-16  일/중/아시아  3871
4    박가부대(성수점)  2.9        서울 성동구 성수이로7길 27       한식  2743
..         ...  ...                     ...      ...   ...
379    Bonjour  0.0           서울 성동구 상원2길 7       양식   895
380   제이킴푸드스타일  0.0  서울특별시 성동구 서울숲4길 28-24        한식   714
381         곡성  0.0    서울특별시 성동구 성덕정3길 5-1    나이트라이프   659
382       카페타치  0.0         서울 성동구 서울숲4길 15   카페/디저트   787
383        태양각  0.0     서울특별시 성동구 아차산로7길 19  일/중/아시아   246

[384 rows x 5 columns]

In [ ]:
df = pd.DataFrame(test)

In [ ]:
df.to_csv('식신.csv')